#logo{
    height: 50px;
}
.logo{
    height: 50px;
    width: auto;
    float: left;
    padding:  0 0 0 0 ;
}
.navbar{
    display: flex;
    padding: 2px;
    position: sticky;
    background: rgb(255, 255, 255);
    width: 100%;
    top: 0;
    z-index: 1;
}
.navbar nav ul li:hover{
    transform: scale(1.05);
    text-decoration:underline;
}
nav{
    /* flex: 1; */
    text-align: right;
    width: 100%;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.container{
    max-width: fit-content;
    margin: auto;
    padding: 0px 25px 0px 25px;
}
a{
    text-decoration: none;
    color: black
}
.list{
    padding-top: 20px;
}
.hello{
    float: left;
    align-items: left;
    padding: 0 0 0 0;
}
.subheader{
    color: #6e6e73;
}
.header , .subheader{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    display: inline;
}
.row{
    padding: 80px 0px 0px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.col-2{
    float: left;
}
.cat{
    padding: 20px;
    margin-top: 80px;
    padding-bottom: 50px;
    justify-content: space-between;
    display: flex;
    position: relative;
    /* background-color: black; */
    border-radius: 8px;
}
.c1{
    float: left;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: space-between;
    height: 250px;
    width: 200px;
    border-radius: 20%;
    transition: transform .2s;
}
.c1 img{
    height: 200px;
    width: 150px;
    padding: 5% 5% 5% 5% ; 
    border-radius: 20%;
}
.c1:hover{
    transform: scale(1.2);
    font-size: larger;
}
.footer{
    height: auto;
    max-width: fit-content;
    margin: auto;
    padding: 0px 25px 0px 25px;
    bottom: 0;
}
.bottom{
    position: fixed;
    bottom: 0;
}
.fc1 , .fc2 , .fc3 , .fc4{
    float: left;
    min-width: 250px;
    margin-bottom: 20px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fc1{
    flex-basis: 305;
}
.fc1 img{
    width: 120px; 
}
.fc2{
    text-align: center;
    margin: auto;
    padding: 0% 20px 0% 20px;
}
.fc2 img{
    width: 180px;
    margin-bottom: 0px;
}
.fc3 , .fc4{
    flex-basis: 12%;
}
.footer a:hover{
    text-decoration: underline;
}
.offers{
    width: 96%;
    margin: 25px;
    background:rgb(246, 236, 236);
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    float:left;
    border:4px black solid;
}
.offers_desc{
    /* float:left; */
    font-size: 25px;
    padding: 20px;
    color: #6e6e73;
}
.offers_name{
    float:left;
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
    background: rgb(152, 145, 145);
    border-radius: 8px;
}
.partners{
    float: left;
}
.partners_col{
    float: left;
    width: 19.8%;
    text-align: center;
    padding-bottom: 35px;
    margin-bottom: 50px;
    border-bottom:1px solid black;
    
    /* border: 1px solid black; */

}
.our_partners{
    font-size: 50px;
    text-align: center;
    margin:25px 25px 50px 25px;
    font-weight: 50;
}
.small-cont{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px ;
    transition : transform .12s;
}
.col-4 img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
}
.col-4:hover{
    transform: scale(1.2);
}
.col-4 h4{
    margin: 5px 47px;
}
.col-4 p{
    margin: 5px 60px;
}
.title{
    text-align: center;
    margin: 25px auto 25px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #6e6e73;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}